.item-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 20px; /* Add this line */
}

.item-row label,
.item-row input[type="number"],
.item-row p {
  flex: 1 1 20%;
  margin: 0 10px;
  text-align: center;
}
